ion-content {
  --background: white;
}

.account-info {
  background-color: ghostwhite;
}

.card {
  height: 100%;
  background-color: #5260ff;
  border-radius: 50px 50px 0 0;
}

ion-card {
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 20px;
  padding: 10px;
}

ion-input {
  color: black;
}

ion-label {
  color: black;
}

.modeldiv {
  background: #5260ff;
}
